

<div class="container"> 
  <div class="row">

      <div class="col-md-3">

          <h3>选择文件</h3>

          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="well my-drop-zone">
              将文件拖到这里
          </div>

         

          多选
          <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

          单选
          <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>

      <div class="col-md-9" style="margin-bottom: 40px">

          <h3>上传列表</h3>
          <p>文件个数: {{ uploader?.queue?.length }}</p>

          <table class="table">
              <thead>
              <tr>
                  <th width="50%">文件名</th>
                  <th>大小</th>
                  <th>进度</th>
                  <th>状态</th>
                  <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-success btn-xs"
                              (click)="uploadFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> 上传
                      </button>
                      <button type="button" class="btn btn-warning btn-xs"
                              (click)="item.cancel()" [disabled]="!item.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> 取消
                      </button>
                      <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> 删除
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>

          <div>
              <div>
                  上传进度
                  <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
              
          </div>
         
              <section class="list-group" *ngIf="isPost">
                  <p class="mb-1">
                      <strong>模型:</strong> {{tempRes}}
                  </p>
                  <div class="d-flex w-100 justify-content-between">
                    <a [routerLink]="['/view']">
                      <h5 class="mb-1" [innerHTML]=tempRes></h5>
                    </a>
                   
                  </div>
                  
                
              </section>
          
      </div>

  </div>

</div>
